@keyframes starwar {
	50% {
		transform: scale(0, 0);
	}
}

.animation {
	margin: 0 auto;
	width: 694px;
}

.background {
	width: 694px;
	height: 450px;
	position: absolute;
	z-index: -1;
}

.starwars {
	animation: starwar 10s linear 1;
}
